<div class="header bg-gradient-maroon pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow">
                <div class="card-body">
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="Create Room">
                            <ng-template ngbPanelContent>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="card shadow ">
                                            <div class="card-body text-center">
                                                <h4>1. Create Admin Users</h4>
                                            </div>
                                        </div>
                                        <h4 class="text-center"><i class="fa fa-arrow-down"></i></h4>
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>2. Create Room Category</h4>
                                            </div>
                                        </div>
                                        <h4 class="text-center"><i class="fa fa-arrow-down"></i></h4>
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>3. Create Branch</h4>
                                            </div>
                                        </div>
                                        <h4 class="text-center"><i class="fa fa-arrow-down"></i></h4>
                                    </div>
                                    <div class="col-lg-6">
                                        <h4 class="text-center d-none d-lg-block"><i class="fa fa-level-down-alt "></i></h4>
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>4. Create Amenities</h4>
                                                <p>Create Room Amenities by selecting Amenity type Room Amenities</p>
                                            </div>
                                        </div>
                                        <h4 class="text-center"><i class="fa fa-arrow-down"></i></h4>
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>5. Update Room Availability From Room Calender</h4>
                                            </div>
                                        </div>
                                        <h4 class="text-center"><i class="fa fa-arrow-down"></i></h4>
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>6.Completed</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel  title="Create Property">
                            <ng-template ngbPanelContent>
                                <div class="row">
                                    
                                    <div class="col-lg-6">
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>1. Create Amenities</h4>
                                                <p>Create Property Amenities by selecting Amenity type Property Amenities</p>
                                            </div>
                                        </div>
                                        <h4 class="text-center"><i class="fa fa-arrow-down"></i></h4>
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>2. Create Property</h4>
                                            </div>
                                        </div>
                                        <h4 class="text-center"><i class="fa fa-arrow-down"></i></h4>
                                        <div class="card shadow">
                                            <div class="card-body text-center">
                                                <h4>3. Completed</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>


                </div>
            </div>
        </div>
    </div>
</div>