<div class="header bg-gradient-maroon pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <a routerLink="create" class="btn btn-neutral btn-icon mr-4">
        <span class="btn-inner--icon">
          <i class="fa fa-plus"></i>
        </span>
        <span class="btn-inner--text">Create Admin User</span>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive">
            <!-- Projects table -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  style="width: 100%;" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="width: 10%;">Image</th>
                  <th scope="col" style="width: 30%;">Name</th>
                  <th scope="col" style="width: 20%;">Email</th>
                  <th scope="col" style="width: 20%;">Phone</th>
                  <th scope="col" style="width: 10%;">Status</th>
                  <th scope="col" style="width: 10%;">Actions</th>
                </tr>
              </thead>


              <tbody *ngIf="user.length != 0">

                <tr *ngFor="let u of user">
                  <th scope="row" style="width: 10%;">
                    <img [src]="u.image" *ngIf="u.image" style="width: 50px;height: auto;" alt="">
                  </th>
                  <th scope="row" style="width: 30%;">
                    {{u.fName}}
                  </th>
                  <td style="width: 20%;">
                    {{u.email}}
                  </td>
                  <td style="width: 20%;">
                    {{u.phone}}
                  </td>
                  <td style="width: 10%;">
                    <i *ngIf="!u.status" class="fa fa-times-circle fa-lg text-danger"></i>
                    <i *ngIf="u.status" class="fa fa-check-circle fa-lg text-success"></i>
                  </td>

                  <td style="width: 10%;">

                    <a [routerLink]="['update',u.id]" class="btn btn-neutral btn-icon">
                      <i class="fa fa-pencil-alt"></i>
                    </a>
                    <!-- <button (click)="deleteUser(u.id)" [disabled]="loadingId == u.id"
                      class="btn btn-neutral btn-icon">
                      <i class="fa fa-trash" *ngIf="loadingId != u.id"></i>
                      <i class="fa fa-circle-notch fa-spin" *ngIf="loadingId == u.id"></i>
                    </button> -->
                  </td>
                </tr>

              </tbody>
              <tbody *ngIf="user.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              <tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>