<div class="header bg-gradient-maroon pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <a routerLink="create" class="btn btn-neutral btn-icon mr-4">
        <span class="btn-inner--icon">
          <i class="fa fa-plus"></i>
        </span>
        <span class="btn-inner--text">Create Promo Code</span>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive">
            <!-- Projects table -->
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width: 100%;" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" style="width: 30%;">Code</th> 
                  <th scope="col" style="width: 60%;">Description</th> 
                  <th scope="col" style="width: 10%;">Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="promoCodes.length != 0">
                <tr  *ngFor="let promoCode of promoCodes">
                  <th scope="row" style="width:30%;">
                    {{ promoCode.code }}
                  </th>
                  <th scope="row" style="width:60%;">
                    {{ promoCode.description }}
                  </th>
                <td style="width: 10%;"> 
                  <a [routerLink]="['update',promoCode.id]"  ngbTooltip="Edit" class="btn btn-neutral btn-icon">
                    <i class="fa fa-pencil-alt"></i>
                  </a>
                  <button (click)="deletePromoCode(promoCode.id)"  ngbTooltip="Delete" [disabled]="loadingId == promoCode.id" class="btn btn-neutral btn-icon">
                    <i class="fa fa-trash" *ngIf="loadingId != promoCode.id"></i>
                    <i class="fa fa-circle-notch fa-spin" *ngIf="loadingId == promoCode.id" ></i>
                  </button>
                </td>
              </tr> 
              </tbody>
              <tbody *ngIf="promoCodes.length == 0">
                <tr>
                  <td colspan="3" class="no-data-available">No data!</td>
                </tr>
              <tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>